header {
    background-color: rgb(207, 203, 203);
    width: 390px;
    height: 64px;
    padding: 0 24px;
    border-bottom: 1px solid #8CA2C0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 30px;
}

header .menu {
    height: 20px;
}